body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    background-image: url("body-bg.jpg");
    font-family:'Oxanium', cursive;

}
.header{
    display: flex;
    position: fixed;
    width:100vw;
    align-items: center;
    justify-content: space-around;
    background: hsla(240, 63%, 13%, 1);
    /* border: 2px solid red; */
    color:#fff;
    height:100px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right:60px; */
}
ul li{
    margin-right:60px;
    list-style-type:none;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    color:#fff;
    list-style-type:none;
    list-style: none;
  
}
ul li a{
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    color:#fff;
    list-style-type:none;
    list-style: none;
    text-decoration: none;
}
.btn {
    position: relative;
    background:linear-gradient( hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
    color: #fff;;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: max-content;
    min-width: 180px;
    height: 50px;
    display: grid;
    place-items: center;
    padding-inline: 30px;
    clip-path: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    overflow: hidden;
    cursor: pointer;
    border: 2px solid hsla(240, 63%, 13%, 1) ;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    width: 250%;
    padding-block-end: 250%;
    background-color: hsla(267, 100%, 63%, 1);;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: -1;
    transition: transform 500ms ease;
  }
  .btn:hover
  {
    background:hsla(267, 100%, 63%, 1);
    transition: 5000s ease;
  }

  .btn:is(:hover, :focus-visible)::before { transform: translate(-50%, -50%) scale(1); }


  main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading{
    color: #fff;

  }
  .main-heading p{
    font-size: 16px;
    letter-spacing: 10px;
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'oxanium', cursive; */
    position:relative;
    top:140px;

  }
  .main-heading p span{
    font-size: 50px;
    font-weight: 800;
  }
  #bt1{
    position:relative;
    top:180px;
  }
  /* .pics{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
  } */
  #img1{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    top:310px;
  }
  #img2{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    top:-104px;
    right: -325px;
  }
  #p1{
    position:relative;
    top:-87px;
    font-weight:900;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width:100%;
    /* border:2px solid red; */
  }
  .head{
    position:relative;
    font-family: 'Work Sans', sans-serif;
    top:-105px;
    color:#fff;
    font-weight:900;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    font-size: 50px;
    text-transform: uppercase;
  }
  #p2{
    position:relative;
    top:-150px;
  }
  .heading2{
    position:relative;
    top:-203px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
  }
  #sp{
    position: relative;
    color: hsla(267, 100%, 63%, 1);

  }
  #p3{
    position:relative;
    top:-50px;
  }
.grid{
    display: grid;
    grid-template-areas: 500px 500px 500px;
    color:#ffff;
    border:2px solid red;
}