*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
     background-image: url("grey\ background.jpg");
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
margin-top:20px;
}
.header h1{
    color:blue;
    width:600px;

}
.header h3{
    color:green;

}
#l1{
    display:flex;
    background: yellow;
    color: black;
}
#l2{
    display:flex;
    background: green;
    color: black;
}
#l3{
    display:flex;
    background: rgb(218, 39, 77);
    color: black;
}
.link{
    display:flex;
    justify-content: center;
    align-items: center;
}
.link a{
    margin-right: 30px;
    margin-top:20px;
} 
.home{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    font-size: 18px;
}
.para{
    position:absolute;
    top:19rem;
    right:43rem;
}
.grid{
    display:grid;
    grid-template-columns: 60px 90px 90px 50px 80px 80px 50px 50px ;
    padding: 142px 2px;
    align-items: center;
    justify-content: center;
}
.box{
    display: grid;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height:40px;
}
#item1{
    grid-row: 1/span 2;
    height:120px;
}
#item2{
    grid-column: 2/ span 2;
    height:60px;
}
#item3{
    grid-column: 4/span 1;
    grid-row: 1/span 2;
    height:120px;
}
#item4{
    grid-column: 5/span 2;
    height:60px;
}
#item7, #item8, #item9, #item10{
    height:60px;
}
#item5{
    grid-column: 7/span 1;
    grid-row: 1/span 2;
    height:120px;
}
#item6{
    grid-column: 8/span 1;
    grid-row: 1/span 2;
    height:120px;
}